<!DOCTYPE html>
<html>
<head>
    <title>I Reporter</title>
    <link type="text/css" rel="stylesheet" href="../../assets/css/ireporter.css" />
    <script src="../../assets/js/ireporter.js"></script> 
</head>
<body>
<div id="wrapper">

        <div id="navigation">
            
        <div class="menu">
            <button onclick="myFunction()" class="dropbtn">&#9776;</button>
            <div id="mymenu" class="menu-content">
                    <a href="../userprofile.html">Profile</a>
                    <a class="active" href="list.html">Incidents</a>
                    <a href="../index.html">Logout</a>
            </div>
        </div>

        <div id='logo'><img src="../../assets/images/logo.png"></div>
    
                <ul class="usertype inlineblock">
                    <li>Logged is as: User</li>
                </ul>
                <ul id="main" class="inlineblock">
                    <li><a href="../userprofile.html">Profile</a></li>
                    <li class="active"><a href="list.html">Incidents</a></li>
                    <li><a href="../index.html">Logout</a></li>
                </ul>
        </div>

    <hr>

    <div id="main_content">
        <div id="flag">
            <h3 id="formheading">Report Incident</h3>
            <form action="list.html" method="POST">
        <table>
            <tr>
                <td><label>Description</label></td>
                <td class="inputfield"><textarea required name="description">Add a description</textarea></td>
            </tr>
            <tr>
                <td><label>Geolocation </label></td>
                <td class="doublefield">
                    <input required type="text" name="latitude" placeholder="latitude">
                    <input required type="text" name="longitude" placeholder="longitude">
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="inputfield"><input type="submit" value="Report" name="report"></td>
            </tr>
        </table>
            </form>
        </div>
    </div>

    <footer>
            <small>
                <div class="pullleft">
                    Andela
                </div>
                <div class="pullright">
                    copy right Josean 2019.
                </div>
            </small>
        </footer>
    
</div>
</body>
</html>