<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>I Reporter</title>

    <link type="image/png" rel="icon" href="../../assets/images/logo.png" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../assets/css/ireporter.css"
    />

    <script type="text/javascript">
      if (
        localStorage.getItem("currentUserId") == "null" ||
        localStorage.getItem("currentUserId") == null
      ) {
        localStorage.setItem("userMassage", "Please login.");
        window.location.href = "../index.html";
      }
    </script>

    <script src="../../assets/js/elements.js"></script>
    <script src="../../assets/js/ireporter.js"></script>
    <script src="../../assets/js/fetch.js"></script>

    <!-- Leaflet -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
    />

    <!-- Mapbox GL -->
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="navigation"></div>

    <div id="wrapper">
      <div id="main_content">
        <div id="dialog"></div>

        <div>
          <div id="incidentheader"><h3>Report an Incident</h3></div>
          <form class="form">
            <table>
              <tr>
                <td><label>Title</label></td>
                <td class="inputfield">
                  <input required type="text" id="title" placeholder="Title" />
                </td>
              </tr>
              <tr>
                <td><label>Type</label></td>
                <td class="inputfield">
                  <select required type="text" id="type">
                    <option value=""> - select - </option>
                    <option value="interventions">Intervention</option>
                    <option value="red-flags">Red flag</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label>Description</label></td>
                <td class="inputfield">
                  <textarea required id="description">
Add a description</textarea
                  >
                </td>
              </tr>
              <tr>
                <td><label></label></td>
                <td hidden class="doublefield">
                  <input type="number" id="latitude" placeholder="latitude" />
                  <input type="number" id="longitude" placeholder="longitude" />
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="inputfield">
                  <input
                    type="button"
                    onclick="toCreateIncident()"
                    id="report"
                    value="Create Incident"
                  />
                </td>
              </tr>
            </table>
          </form>
        </div>

        <center id="map_info">
          <pre id="info">click on map to select location.</pre>
          <div id="map"></div>
        </center>
      </div>
    </div>

    <footer>
      <small>
        <div class="pullleft">Andela</div>
        <div class="pullright">copy right Josean 2019.</div>
      </small>
    </footer>

    <script type="text/javascript">
      let navigation = document.getElementById("navigation");
      if (localStorage.getItem("currentUserIsAdmin") == "true") {
        navigation.innerHTML = adminNav;
      } else {
        navigation.innerHTML = userNav;
      }

      let loggedinAs = document.getElementById("loggedinAs");
      loggedinAs.innerHTML =
        `<i class="icon"><img src='../../assets/icons/profile-img.png' /></i> ` +
        localStorage.getItem("currentUserUsername");

      toCreateIncident = () => {
        let obj = {};
        let latitude = document.getElementById("latitude").value;
        let longitude = document.getElementById("longitude").value;

        obj.title = document.getElementById("title").value;
        obj.type = document.getElementById("type").value;
        obj.comment = document.getElementById("description").value;
        obj.location = latitude + ", " + longitude;

        if (
          latitude == "" ||
          latitude < -90 ||
          longitude < -90 ||
          90 < latitude ||
          90 < longitude
        ) {
          userMessage(
            "Please select location on the map below.",
            "rgb(224, 35, 35)"
          );
        } //else createIncident(obj);
        console.log(latitude);
      };
    </script>

    <!-- map -->

    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- Mapbox GL -->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js"></script>

    <script src="../../assets/js/leaflet-mapbox-gl.js"></script>
    <script>
      var map = L.map("map").setView([0.3775, 32.6068], 6);

      var marker = L.marker();

      function onMapClick(e) {
        marker
          .setLatLng(e.latlng)
          .addTo(map)
          .openPopup();
      }

      var gl = L.mapboxGL({
        accessToken:
          "pk.eyJ1Ijoiam9zZWFucCIsImEiOiJjanMwYzdudHAwMWt3NGFrdnYwYzBwdjBkIn0.tGuPhAyv5SppQm57qD5VSQ",
        style:
          "https://raw.githubusercontent.com/osm2vectortiles/mapbox-gl-styles/master/styles/bright-v9-cdn.json"
      }).addTo(map);

      map.on("click", function(e) {
        document.getElementById("latitude").value = e.latlng.lat;
        document.getElementById("longitude").value = e.latlng.lng;
        onMapClick(e);
      });

      document.getElementById("incidentl").className = "active";
      document.getElementById("incidenta").className = "active";
    </script>
  </body>
</html>
