<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>I Reporter</title>
    <link type="image/png" rel="icon" href="../../assets/images/logo.png" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../assets/css/ireporter.css"
    />

    <script type="text/javascript">
      if (
        localStorage.getItem("currentUserId") == "null" ||
        localStorage.getItem("currentUserId") == null
      ) {
        localStorage.setItem("userMassage", "Please login.");
        window.location.href = "../index.html";
      }
    </script>

    <script src="../../assets/js/elements.js"></script>
    <script src="../../assets/js/ireporter.js"></script>
    <script src="../../assets/js/fetch.js"></script>
  </head>
  <body>
    <div id="navigation"></div>

    <div id="wrapper">
      <div id="main_content">
        <div id="incident">
          <div>
            <div id="incidentheader"><h3>Incident</h3></div>
            <table>
              <tr id="incidentbody">
                <td class="label"><b>Description</b></td>
                <td>This is the description.</td>
              </tr>
              <tr id="footrow">
                <td colspan="2">
                  <small>
                    <span
                      ><b>Type:</b>
                      <div>intervention</div></span
                    >
                    <span
                      ><b>Status:</b>
                      <div>managed</div></span
                    >
                    <span
                      ><b>Location:</b>
                      <div>12345.56, 54321.123</div></span
                    >
                    <span
                      ><b>By:</b>
                      <div>Josean</div></span
                    >
                    <span
                      ><b>On:</b>
                      <div>06-11-2000</div></span
                    >
                  </small>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <small>
        <div class="pullleft">Andela</div>
        <div class="pullright">copy right Josean 2019.</div>
      </small>
    </footer>

    <script type="text/javascript">
      let navigation = document.getElementById("navigation");
      if (localStorage.getItem("currentUserIsAdmin") == "true") {
        navigation.innerHTML = adminNav;
      } else {
        navigation.innerHTML = userNav;
      }

      let loggedinAs = document.getElementById("loggedinAs");
      loggedinAs.innerHTML =
        "logged in as: " + localStorage.getItem("currentUserUsername");

      const urlParams = new URLSearchParams(window.location.search);
      console.log(urlParams);

      // let obj = {};

      // obj.id = document.getElementById("title").value;
      // obj.type = document.getElementById("type").value;

      // getIncident(obj);
    </script>
  </body>
</html>
