<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>I Reporter</title>
    <link type="image/png" rel="icon" href="../../assets/images/logo.png" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../assets/css/ireporter.css"
    />

    <script type="text/javascript">
      if (
        localStorage.getItem("currentUserId") == "null" ||
        localStorage.getItem("currentUserId") == null
      ) {
        localStorage.setItem("userMassage", "Please login.");
        window.location.href = "../index.html";
      }
    </script>

    <script src="../../assets/js/elements.js"></script>
    <script src="../../assets/js/ireporter.js"></script>
    <script src="../../assets/js/fetch.js"></script>
  </head>
  <body>
    <div id="navigation"></div>

    <div id="wrapper">
      <div id="main_content">
        <div id="dialog"></div>

        <div id="loader">
          <span>Loading...</span>
        </div>

        <div id="incident"></div>
      </div>
    </div>

    <footer>
      <small>
        <div class="pullleft">Andela</div>
        <div class="pullright">copy right Josean 2019.</div>
      </small>
    </footer>

    <script type="text/javascript">
      let navigation = document.getElementById("navigation");
      if (localStorage.getItem("currentUserIsAdmin") == "true") {
        navigation.innerHTML = adminNav;
      } else {
        navigation.innerHTML = userNav;
      }

      let loggedinAs = document.getElementById("loggedinAs");
      loggedinAs.innerHTML =
        `<i class="icon"><img src='../../assets/icons/profile-img.png' /></i> ` +
        localStorage.getItem("currentUserUsername");

      const urlParams = new URLSearchParams(window.location.search);

      let obj = {};

      obj.type = urlParams.get("type") + "s";
      obj.id = urlParams.get("id");

      getIncident(obj);

      if (
        localStorage.getItem("userMassage") != "null" &&
        localStorage.getItem("userMassage") != null
      ) {
        userMessage(localStorage.getItem("userMassage"), "rgb(171, 211, 221)");
        localStorage.setItem("userMassage", null);
      }

      document.getElementById("incidentl").className = "active";
      document.getElementById("incidenta").className = "active";
    </script>
  </body>
</html>
