<!DOCTYPE html>
<html>
<head>
    <title>I Reporter</title>
    <link type="text/css" rel="stylesheet" href="../../assets/ireporter.css" />
    <script src="../../assets/ireporter.js"></script>
</head>
<body>
<div id="wrapper">

        <div id="navigation">
            
        <div class="menu">
            <button onclick="myFunction()" class="dropbtn">&#9776;</button>
            <div id="mymenu" class="menu-content">
                    <a href="../userprofile.html">Profile</a>
                    <a class="active" href="list.html">Incidents</a>
                    <a href="../index.html">Logout</a>
            </div>
        </div>

        <div id='logo'><img src="../../assets/logo.png"></div>
    
                <ul class="usertype inlineblock">
                    <li>Logged is as: User</li>
                </ul>
                <ul id="main" class="inlineblock">
                    <li><a href="../userprofile.html">Profile</a></li>
                    <li class="active"><a href="list.html">Incidents</a></li>
                    <li><a href="../index.html">Logout</a></li>
                </ul>
        </div>

    <hr>

    <div id="main_content">
        <div id="incident">
            <div>
                <a href="create.html"  class="pullleft inlineblock formheading">New Incident</a>
                <h3  class="inlineblock formheading">Incidents</h3>
            </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Location</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Created by</th>
                    <th>Created on</th>
                    <th></th>
                </tr>
                <tr>
                    <td>12345</td>
                    <td>12345.56, 54321.123</td>
                    <td>redflag</td>
                    <td>handled</td>
                    <td>Joel</td>
                    <td>06-11-2000</td>
                    <td><a href="incident.html">view</a></td>
                </tr>
            </table>
        </div>
    </div>

    <footer>
            <small>
                <div class="pullleft">
                    Andela
                </div>
                <div class="pullright">
                    copy right Josean 2019.
                </div>
            </small>
        </footer>
    
</div>
</body>
</html>