<!DOCTYPE html>
<html>
<head>
    <title>I Reporter</title>
    <link type="text/css" rel="stylesheet" href="../../assets/ireporter.css" />
    <script src="../../assets/ireporter.js"></script> 
</head>
<body>
<div id="wrapper">

    <div id="navigation">

        <div class="menu">
            <button onclick="myFunction()" class="dropbtn">&#9776;</button>
            <div id="mymenu" class="menu-content">
                    <a href="../userprofile_admin.html">Profile</a>
                    <a href="../users.html">Users</a>
                    <a href="list.html">Incidents</a>
                    <a href="incident.html">Incident</a>
                    <a href="create.html">Add Incident</a>
                    <a href="../index.html">Logout</a>
            </div>
        </div>
    
                <ul class="usertype inlineblock">
                    <li>ADMIN</li>
                </ul>
                <ul id="main" class="inlineblock">
                    <li><a href="../userprofile_admin.html">Profile</a></li>
                    <li><a href="../users.html">Users</a></li>
                    <li><a href="list.html">Incidents</a></li>
                    <li><a href="incident.html">Incident</a></li>
                    <li><a href="create.html">Add Incident</a></li>
                    <li><a href="../index.html">Logout</a></li>
                </ul>
        </div>

    <hr>

    <div id="main_content">
        <div id="incident">
            <div>
                <a href="intervene.html"  class="pullleft inlineblock formheading">INTERVENE</a>
                <h3  class="inlineblock formheading">Incident #12345 (Red Flag)</h3>
            </div>
            <table>
                <tr>
                    <td>Description</td>
                    <td>This is the description.</td>
                </tr>
                <tr id="footrow">
                    <td colspan="2">
                        <small>
                            <span><b>status:</b><div>managed</div></span>
                            <span><b>codes:</b><div>12345.56, 54321.123</div></span>
                            <span><b>by:</b><div>Josean</div></span>
                            <span><b>on:</b><div>06-11-2000</div></span>
                        </small>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <footer>
            <small>
                <div class="pullleft">
                    Andela
                </div>
                <div class="pullright">
                    copy right Josean 2019.
                </div>
            </small>
        </footer>
    
</div>
</body>
</html>