<!DOCTYPE html>
<html>
<head>
    <title>I Reporter</title>
    <link type="text/css" rel="stylesheet" href="../../assets/ireporter.css" />
</head>
<body>
<div id="wrapper">

        <div id="navigation">
                <ul class="pullleft inlineblock">
                    <li>ADMIN</li>
                </ul>
                <ul id="main" class="inlineblock">
                    <li><a href="../userprofile_admin.html">Profile</a></li>
                    <li><a href="../users.html">Users</a></li>
                    <li><a href="list.html">Incidents</a></li>
                    <li><a href="incident.html">Incident</a></li>
                    <li><a href="create.html">Add Incident</a></li>
                    <li><a href="../index.html">Logout</a></li>
                </ul>
        </div>

    <hr>

    <div id="main_content">
        <div id="incident">
            <h3 id="formheading">Incidents</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Location</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Comment</th>
                    <th>Images</th>
                    <th>Videos</th>
                    <th>Created by</th>
                    <th>Created on</th>
                </tr>
                <tr>
                    <td>12345</td>
                    <td>12345.56, 54321.123</td>
                    <td>redflag</td>
                    <td>handled</td>
                    <td>requires daily monitoring</td>
                    <td>image</td>
                    <td>video</td>
                    <td>Joel</td>
                    <td>06-11-2000</td>
                </tr>
            </table>
        </div>
    </div>

    <footer>
            <small>
                <div class="pullleft">
                    Andela
                </div>
                <div class="pullright">
                    copy right Josean 2019.
                </div>
            </small>
        </footer>
    
</div>
</body>
</html>