<!DOCTYPE html>
<html>
<head>
    <title>I Reporter</title>
    <link type="text/css" rel="stylesheet" href="../assets/ireporter.css" />
</head>
<body>
<div id="wrapper">

    <div id="navigation">
        <ul id="main">
            <li><a href="#">Home</a></li>
            <li><a href="#">Red flag</a></li>
            <li><a href="#">Intervention</a></li>
            <li><a href="#">Signin</a></li>
        </ul>
    </div>

    <hr>

    <div id="main_content">
        <div id="intervention">
            <h3 id="formheading">Create Flag Intervention</h3>
            <form action="#" method="POST">
        <table>
            <tr>
                <td><label>Flag</label></td>
                <td class="inputfield">
                    <input type="text" name="latitude" placeholder="flag">
                </td>
            </tr>
            <tr>
                <td><label>Description</label></td>
                <td class="inputfield"><textarea name="description">Describe how you are going to intervene</textarea></td>
            </tr>
            <tr>
                <td></td>
                <td class="inputfield"><input type="submit" value="intervene" name="intervention"></td>
            </tr>
        </table>
            </form>
        </div>
    </div>

</div>
</body>
</html>