<!DOCTYPE html>
<html>
<head>
    <title>I Reporter</title>
    <link type="text/css" rel="stylesheet" href="../assets/ireporter.css" />
</head>
<body>
<div id="wrapper">

    <div id="navigation">
        <ul id="main">
            <li><a href="#">Home</a></li>
            <li><a href="#">Red flag</a></li>
            <li><a href="#">Intervention</a></li>
            <li><a href="#">Signin</a></li>
        </ul>
    </div>

    <hr>

    <div id="main_content">
        <div id="flag">
            <h3 id="formheading">Report Red Flag</h3>
            <form action="#" method="POST">
        <table>
            <tr>
                <td><label>Description</label></td>
                <td class="inputfield"><textarea name="description">

                </textarea></td>
            </tr>
            <tr>
                <td><label>Latitude & Longitude</label></td>
                <td class="doublefield">
                    <input type="text" name="latitude" placeholder="latitude">
                    <input type="text" name="longitude" placeholder="longitude">
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="inputfield"><input type="submit" value="Report" name="report"></td>
            </tr>
        </table>
            </form>
        </div>
    </div>

</div>
</body>
</html>