<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>I Reporter</title>
    <link type="text/css" rel="stylesheet" href="../assets/css/ireporter.css" />
</head>
<body>
<div id="wrapper">

    <hr>

    <div id="main_content">
        <div id="login">
            <h3 id="formheading">LOGIN</h3>
            <form>
        <table>
            <tr>
                <td><label>Username</label></td>
                <td class="inputfield"><input required type="text" id="username" name="username" placeholder="Username"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td class="inputfield"><input required type="password" id="password" name="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td></td>
                <td class="inputfield"><input type="button" onclick="tologin()" id="login" value="Login" name="login"></td>
            </tr>
            <tr>
                <td></td>
                <td class="inputfield"><div>Or <a href="signup.html">SignUp</a></div></td>
            </tr>
        </table>
            </form>
        </div>
    </div>

</div>
<script>
    function tologin(){
        var username = document.getElementById("username").value;
        if (username == "admin"){
            window.location.href = "./incidents_admin/list.html";
        }else{
            window.location.href = "./incidents/list.html";
        }
    }
</script>
</body>
</html>