<!DOCTYPE html>
<html>
<head>
    <title>I Reporter</title>
    <link type="text/css" rel="stylesheet" href="../assets/ireporter.css" />
</head>
<body>
<div id="wrapper">

    <div id="navigation">
        <ul id="main">
            <li><a href="#">Home</a></li>
            <li><a href="#">Red flag</a></li>
            <li><a href="#">Intervation</a></li>
            <li><a href="#">Signin</a></li>
        </ul>
    </div>

    <hr>

    <div id="main_content">
        <div id="signup">
            <h3 id="formheading">Signup</h3>
            <form action="#" method="POST">
        <table>
            <tr>
                <td><label>Username</label></td>
                <td class="inputfield"><input type="text" name="username" placeholder="Username"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td class="inputfield"><input type="password" name="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td class="inputfield"><input type="email" name="email" placeholder="email"></td>
            </tr>
            <tr>
                <td></td>
                <td class="inputfield"><input type="submit" value="Login" name="login"></td>
            </tr>
        </table>
            </form>
        </div>
    </div>

</div>
</body>
</html>