<!DOCTYPE html>
<html>
<head>
    <title>I Reporter</title>
    <link type="text/css" rel="stylesheet" href="../assets/css/ireporter.css" />
</head>
<body>
<div id="wrapper">

    <div id="navigation">
    </div>

    <hr>

    <div id="main_content">
        <div id="signup">
            <h3 id="formheading">Signup</h3>
            <form action="userprofile.html" method="POST">
        <table>
            <tr>
                <td><label>Username</label></td>
                <td class="inputfield"><input required type="text" name="username" placeholder="Username"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td class="inputfield"><input required type="password" name="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td class="inputfield"><input required type="email" name="email" placeholder="email"></td>
            </tr>
            <tr>
                <td></td>
                <td class="inputfield"><input type="submit" value="register" name="login"></td>
            </tr>
            <tr>
                <td></td>
                <td class="inputfield"><div>Or <a href="index.html">Login</a></div></td>
            </tr>
        </table>
            </form>
        </div>
    </div>

</div>
</body>
</html>