<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>I Reporter</title>

    <link type="image/png" rel="icon" href="../assets/images/logo.png" />
    <link type="text/css" rel="stylesheet" href="../assets/css/ireporter.css" />

    <script src="../assets/js/ireporter.js"></script>
    <script src="../assets/js/update_user.js"></script>
  </head>
  <body>
    <div id="navigation">
      <div class="menu">
        <button onclick="myFunction()" class="dropbtn">&#9776;</button>
        <div id="mymenu" class="menu-content">
          <a id="profilea" href="userprofile.html"><i class="icon"><img src="../assets/icons/profile-pg.png"/></i>
            <div>Profile</div></a>
          <a id="userslin" href="users.html"><i class="icon"><img src="../assets/icons/team.png"/></i>
            <div>Users</div></a>
          <a id="incidenta" href="./incidents/list.html"><i class="icon"><img src="../assets/icons/flag.png"/></i>
            <div>Incidents</div></a>
          <a onclick="logout2()"><i class="icon"><img src="../assets/icons/logout.png"/></i>
            <div>Logout</div></a>
        </div>
      </div>

      <div id="logo"><img src="../assets/images/logo.png" alt="logo" /></div>

      <ul id="main" class="inlineblock">
        <li id="profilel"><a href="userprofile.html"><i class="icon"><img src="../assets/icons/profile-pg.png"/></i>
          <div>Profile</div></a></li>
        <li id="userslink"><a href="users.html"><i class="icon"><img src="../assets/icons/team.png"/></i>
          <div>Users</div></a></li>
        <li id="incidentl"><a href="./incidents/list.html"><i class="icon"><img src="../assets/icons/flag.png"/></i>
          <div>Incidents</div></a></li>
        <li><a onclick="logout2()"><i class="icon"><img src="../assets/icons/logout.png"/></i>
          <div>Logout</div></a></li>
      </ul>

      <ul class="usertype inlineblock">
        <li id="loggedinAs"></li>
      </ul>
    </div>

    <div id="wrapper">
      <div id="main_content">
        <div id="dialog"></div>

        <div id="loader">
          <span>Loading...</span>
        </div>

        <div>
          <div id="incidentheader"><h3>Update</h3></div>
          <form class="form">
            <table>
              <tr>
                <td><label>Username</label></td>
                <td class="inputfield">
                  <input required type="text" id="username" />
                </td>
              </tr>
              <tr>
                <td><label>Firstname</label></td>
                <td class="inputfield">
                  <input required type="text" id="firstname" />
                </td>
              </tr>
              <tr>
                <td><label>Lastname</label></td>
                <td class="inputfield">
                  <input required type="text" id="lastname" />
                </td>
              </tr>
              <tr>
                <td><label>Password</label></td>
                <td class="inputfield">
                  <input required type="password" id="password" />
                </td>
              </tr>
              <tr>
                <td><label>Phone</label></td>
                <td class="inputfield">
                  <input required type="number" id="phonenumber" />
                </td>
              </tr>
              <tr>
                <td><label>Email</label></td>
                <td class="inputfield">
                  <input required type="email" id="email" placeholder="email" />
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="inputfield">
                  <input
                    type="button"
                    onclick="toUpdateUser()"
                    value="Update"
                  />
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>

    <footer>
      <small>
        <div class="pullleft">
          Andela
        </div>
        <div class="pullright">
          copy right Josean 2019.
        </div>
      </small>
    </footer>

    <script>
      document.getElementById("profilel").className="active";
      document.getElementById("profilea").className="active";

      if (localStorage.getItem("currentUserIsAdmin") != "true") {
        let element = document.getElementById("userslink");
        let element2 = document.getElementById("userslin");
        element.style.display = "none";
        element2.style.display = "none";
      }

let loggedinAs = document.getElementById("loggedinAs");
      loggedinAs.innerHTML =
        `<i class="icon"><img src='../assets/icons/profile-img.png' /></i> ` +
        localStorage.getItem("currentUserUsername");

      const urlParams = new URLSearchParams(window.location.search);
      let id = urlParams.get("id");

      getUser(id);

      toUpdateUser = () => {
        let obj = {};

        obj.id = id;
        obj.username = document.getElementById("username").value;
        obj.password = document.getElementById("password").value;
        obj.email = document.getElementById("email").value;
        obj.lastname = document.getElementById("lastname").value;
        obj.firstname = document.getElementById("firstname").value;
        obj.phonenumber = parseInt(
          document.getElementById("phonenumber").value
        );

        updateUser(obj);
      };
    </script>
  </body>
</html>
