<!DOCTYPE html>
<html>
<head>
    <title>I Reporter</title>
    <link type="text/css" rel="stylesheet" href="../assets/ireporter.css" />
    <script src="../assets/ireporter.js"></script> 
</head>
<body>
<div id="wrapper">

    <div id="navigation">

        <div class="menu">
            <button onclick="myFunction()" class="dropbtn">&#9776;</button>
            <div id="mymenu" class="menu-content">
                    <a href="userprofile_admin.html">Profile</a>
                    <a href="users.html">Users</a>
                    <a href="./incidents_admin/list.html">Incidents</a>
                    <a href="./incidents_admin/incident.html">Incident</a>
                    <a href="./incidents_admin/create.html">Add Incident</a>
                    <a href="index.html">Logout</a>
            </div>
        </div>
    
                <ul class="usertype inlineblock">
                    <li>ADMIN</li>
                </ul>
            <ul id="main" class="inlineblock">
                <li><a href="userprofile_admin.html">Profile</a></li>
                <li><a href="users.html">Users</a></li>
                <li><a href="./incidents_admin/list.html">Incidents</a></li>
                <li><a href="./incidents_admin/incident.html">Incident</a></li>
                <li><a href="./incidents_admin/create.html">Add Incident</a></li>
                <li><a href="index.html">Logout</a></li>
            </ul>
    </div>

    <hr>

    <div id="main_content">
        <div id="incident">
                <h3 id="formheading">User</h3>
            <table>
                <tr>
                    <td>ID:</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>Joel Mugaya Patrick</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>joel@gmail.com</td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td>(+256) 706084841</td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td>Josean</td>
                </tr>
                <tr>
                    <td>Is Admin</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>Registered</td>
                    <td>06-11-2000</td>
                </tr>
                <tr id="footrow">
                    <td colspan="2">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <footer>
            <small>
                <div class="pullleft">
                    Andela
                </div>
                <div class="pullright">
                    copy right Josean 2019.
                </div>
            </small>
        </footer>
    
</div>
</body>
</html>