<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>I Reporter</title>

    <link type="image/png" rel="icon" href="../assets/images/logo.png" />
    <link type="text/css" rel="stylesheet" href="../assets/css/ireporter.css" />

    <script type="text/javascript">
      if (
        localStorage.getItem("currentUserId") == "null" ||
        localStorage.getItem("currentUserId") == null
      ) {
        localStorage.setItem("userMassage", "Please login.");
        window.location.href = "index.html";
      }
    </script>

    <script src="../assets/js/ireporter.js"></script>
    <script src="../assets/js/fetch.js"></script>
  </head>
  <body>
    <div id="navigation">
      <div class="menu">
        <button onclick="myFunction()" class="dropbtn">&#9776;</button>
        <div id="mymenu" class="menu-content">
          <a href="userprofile.html">Profile</a>
          <a href="users.html">Users</a>
          <a class="active" href="incidents/list.html">Incidents</a>
          <a onclick="logout2()">Logout</a>
        </div>
      </div>

      <div id="logo"><img src="../assets/images/logo.png" alt="logo" /></div>

      <ul id="main" class="inlineblock">
        <li><a href="userprofile.html">Profile</a></li>
        <li><a href="users.html">Users</a></li>
        <li class="active"><a href="incidents/list.html">Incidents</a></li>
        <li><a onclick="logout2()">Logout</a></li>
      </ul>

      <ul class="usertype inlineblock">
        <li id="loggedinAs"></li>
      </ul>
    </div>

    <div id="wrapper">
      <div id="main_content">
        <div id="dialog"></div>
        <div id="incident">
          <div id="incidentheader"><h3>Users</h3></div>

          <table id="tableRows"></table>
        </div>
      </div>
    </div>

    <footer>
      <small>
        <div class="pullleft">Andela</div>
        <div class="pullright">copy right Josean 2019.</div>
      </small>
    </footer>

    <script type="text/javascript">
      getUsers();

      let loggedinAs = document.getElementById("loggedinAs");
      loggedinAs.innerHTML =
        "logged in as: " + localStorage.getItem("currentUserUsername");

      if (
        localStorage.getItem("userMassage") != "null" &&
        localStorage.getItem("userMassage") != null
      ) {
        userMessage(localStorage.getItem("userMassage"), "#00f9");
        localStorage.setItem("userMassage", null);
      }
    </script>
  </body>
</html>
