<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>I Reporter</title>

    <link type="image/png" rel="icon" href="../assets/images/logo.png" />
    <link type="text/css" rel="stylesheet" href="../assets/css/ireporter.css" />

    <script type="text/javascript">
      if (
        localStorage.getItem("currentUserId") == "null" ||
        localStorage.getItem("currentUserId") == null
      ) {
        localStorage.setItem("userMassage", "Please login.");
        window.location.href = "index.html";
      }
    </script>

    <script src="../assets/js/elements.js"></script>
    <script src="../assets/js/ireporter.js"></script>
    <script src="../assets/js/user_profile.js"></script>
  </head>
  <body>
    <div id="navigation">
      <div class="menu">
        <button onclick="myFunction()" class="dropbtn">&#9776;</button>
        <div id="mymenu" class="menu-content">
          <a id="profilea" href="userprofile.html"
            ><i class="icon"><img src="../assets/icons/profile-pg.png"/></i>
            <div>Profile</div></a
          >
          <a id="userslin" href="users.html"
            ><i class="icon"><img src="../assets/icons/team.png"/></i>
            <div>Users</div></a
          >
          <a id="incidenta" href="./incidents/list.html"
            ><i class="icon"><img src="../assets/icons/flag.png"/></i>
            <div>Incidents</div></a
          >
          <a onclick="logout2()"
            ><i class="icon"><img src="../assets/icons/logout.png"/></i>
            <div>Logout</div></a
          >
        </div>
      </div>

      <div id="logo"><img src="../assets/images/logo.png" alt="logo" /></div>

      <ul id="main" class="inlineblock">
        <li id="profilel">
          <a href="userprofile.html"
            ><i class="icon"><img src="../assets/icons/profile-pg.png"/></i>
            <div>Profile</div></a
          >
        </li>
        <li id="userslink">
          <a href="users.html"
            ><i class="icon"><img src="../assets/icons/team.png"/></i>
            <div>Users</div></a
          >
        </li>
        <li id="incidentl">
          <a href="./incidents/list.html"
            ><i class="icon"><img src="../assets/icons/flag.png"/></i>
            <div>Incidents</div></a
          >
        </li>
        <li>
          <a onclick="logout2()"
            ><i class="icon"><img src="../assets/icons/logout.png"/></i>
            <div>Logout</div></a
          >
        </li>
      </ul>

      <ul class="usertype inlineblock">
        <li id="loggedinAs"></li>
      </ul>
    </div>

    <div id="wrapper">
      <div id="main_content">
        <div id="dialog"></div>
        <div id="incident">
          <div id="incidentheader"><h3>User</h3></div>

          <table id="tableRows"></table>
        </div>
      </div>
    </div>

    <footer>
      <small>
        <div class="pullleft">Andela</div>
        <div class="pullright">copy right Josean 2019.</div>
      </small>
    </footer>

    <script type="text/javascript">
      document.getElementById("profilel").className = "active";
      document.getElementById("profilea").className = "active";

      const urlParams = new URLSearchParams(window.location.search);
      let id = urlParams.get("id");

      if (id == null) id = localStorage.getItem("currentUserId");
      getUser(id);

      let loggedinAs = document.getElementById("loggedinAs");
      loggedinAs.innerHTML =
        `<i class="icon"><img src='../assets/icons/profile-img.png' /></i> ` +
        localStorage.getItem("currentUserUsername");

      if (localStorage.getItem("currentUserIsAdmin") != "true") {
        let element = document.getElementById("userslink");
        let element2 = document.getElementById("userslin");
        element.style.display = "none";
        element2.style.display = "none";
      }

      if (
        localStorage.getItem("userMassage") != "null" &&
        localStorage.getItem("userMassage") != null
      ) {
        userMessage(localStorage.getItem("userMassage"), "rgb(171, 211, 221)");
        localStorage.setItem("userMassage", null);
      }
    </script>

    <script src="../assets/js/update_isadmin.js"></script>

    <script type="text/javascript">
      const adminRights = id => {
        // update admin rights
        let body = {
          id: id,
          is_admin: document.getElementById("isadmin").value
        };
        updateUser(body);
      };
    </script>
  </body>
</html>
