#wrapper {
  margin: 60px 0px 10px 0px;
  padding: 2%;
  height: 67vh;
  width: 95.5%;
  font-family: arial, sans-serif;
  text-align: center;
  background-color: white;
  min-width: 300px;
  background-image: url(../../assets/images/report.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 60%;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  padding: 1%;
  cursor: pointer;
}

.select-status,
select {
  border: none;
}

.two_right {
  margin-left: -1%;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  padding: 1%;
}

/*= Dialog */

#dialog {
  width: 100%;
  text-align: center;
  transform: scale(0);
  transition: all 400ms ease-in;
}

#loader {
  color: white;
  background: #0003;
  height: 70%;
  width: 96.5%;
  z-index: 10;
  position: absolute;
  display: none;
  font-weight: bolder;
  font-size: larger;
}
#loader span {
  top: 40%;
  left: 45%;
  width: 10%;
  position: absolute;
}
@keyframes scaling {
  from {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
#loader span {
  animation-name: scaling;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.blueth {
  background-color: #0707c3e6;
  color: white;
}

.redth {
  background-color: #e40707e6;
  color: white;
}

.redth,
.blueth {
  width: 50px;
}

#dialog-content {
  width: 50%;
  min-width: 300px;
  padding: 0% 1%;
  margin: 0px auto;
  background: #f5313180;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#dialog-text {
  font-size: 14px;
  margin: 1.5em 0;
  text-transform: uppercase;
}

#dialog-content ul {
  text-align: left;
}

#navigation ul li a {
  text-decoration: none;
}

#navigation .active {
  background-color: #fcf9f9;
}

#navigation #logo img {
  width: 100px;
  float: left;
}

#showimgs {
  width: 100%;
  text-align: left;
}

.showimgs,
#uploading {
  width: 30%;
  padding-top: 30%;
  margin: 1%;
  display: inline-grid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#uploading {
  text-align: center;
  padding-top: 0%;
}

#uploading:hover,
#uploading:active {
  cursor: pointer;
  background: #ccccf8e6;
}

a,
#uploading {
  cursor: pointer;
}

#navigation #logo h2 {
  text-align: center;
}

#welcome_nav {
  height: 10px;
}

.inlineblock {
  display: inline-block;
}

#main a {
  color: black;
}

li a div,
.menu a div {
  display: inline-block;
}

#navigation {
  margin: 0%;
  position: fixed;
  background-color: #0ff088;
  width: 100%;
  padding: 2px 0%;
  top: 0;
  min-width: 300px;
}

#navigation ul li {
  list-style: none;
  display: inline;
  margin: 0px;
  padding: 17px 0px;
}

hr {
  color: #eae3e333;
}

.form {
  margin: 10px auto 20px auto;
  padding: 1% 0%;
  width: 80%;
  background: linear-gradient(-45deg, #12c10f, #e1dda9, #4cdcbf, #12c10fb3);
  border-radius: 1%;
}

.form table {
  margin: 2%;
  width: 96%;
}

table {
  text-align: left;
}

.userstable th {
  background-color: #0ff088;
}

#incident table {
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
}

#incident table td {
  padding: 5px 5px;
  margin: 0px;
}

td#emptytable {
  text-align: center;
  font-size: 30px;
  color: #80808080;
  height: 60px;
}

#incident table td div,
#incident table td label {
  display: inline-block;
}

#incident table td span {
  margin: 0% 2%;
}

#incident table td small b {
  margin: 5px;
}

#incident table #footrow {
  background-color: #0ff088;
  height: 60px;
  text-align: center;
}

#incident table #footrow span {
  white-space: nowrap;
}

#incident table th {
  padding: 10px 6px;
  margin: 0px;
}

#incidentheader h3 {
  padding: 10px 10px;
}

#incidentbody {
  height: 100px;
  vertical-align: top;
  background-color: #9c999933;
}

.userrow {
  height: 30px;
  vertical-align: middle;
  background-color: #9c999933;
}

.label {
  width: 20%;
  font-weight: bold;
}

#main_content {
  overflow: auto;
  height: inherit;
}

#main_content .inputfield input,
#main_content .inputfield select,
#main_content .doublefield input,
#main_content .inputfield textarea {
  border-radius: 3px;
  border-color: #03032cd7;
  border-style: solid;
  border-width: 1px;
  padding: 2px 2%;
  box-shadow: 0px 2px 1px #47a2c61a;
}

textarea {
  height: 70px;
}

#main_content .inputfield input[type="text"],
#main_content .inputfield input[type="password"],
#main_content .inputfield input[type="email"],
#main_content .inputfield input[type="number"],
#main_content .inputfield textarea {
  width: 96%;
}

#main_content .inputfield select {
  width: 100%;
}

#main_content .doublefield input {
  height: 35px;
  width: 44.9863%;
}

.inputfield {
  width: 75%;
}

.inputfield input,
.inputfield select {
  height: 35px;
  display: inline-block;
}

.inputfield input[type="submit"],
.inputfield input[type="button"] {
  margin: 0px;
  width: 100.3%;
  color: white;
  border-width: 0px;
  background-color: #050404;
}

#main a {
  padding: 17px;
  margin: 0px;
}

#navigation #main a:hover,
#navigation #main a:focus {
  background-color: #b7b7c34d;
  color: black;
}

.inputfield input[type="submit"]:hover,
.inputfield input[type="submit"]:focus,
.inputfield input[type="button"]:hover,
.inputfield input[type="button"]:focus {
  color: black;
  background-color: #b7b7c34d;
  cursor: pointer;
}

footer {
  position: absolute;
  margin: 0px auto 10px auto;
  width: 92%;
  min-width: 300px;
  border-style: none;
  padding: 0% 4%;
  background-color: #0ff088;
}

footer div {
  display: inline-block;
  padding: 20px 10px;
}

.pullright {
  float: right;
}

.pullleft {
  float: left;
}

.inputfield div {
  margin-top: 10px;
}

.usertype {
  float: right;
  margin-right: 2%;
}

.icon img {
  height: 14px;
}

html,
body,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
}

#map_info {
  width: 90%;
  height: 40%;
  margin: auto;
}

.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}

#info {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #0ff088;
}

/* ------------------ small device menu ------------------------- */

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.menu {
  display: none;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* --------------------------------------------------------------- */

@media all and (min-width: 1000px) {
  #main_content .doublefield input {
    width: 45.25%;
  }
}

@media all and (max-width: 430px) {
  #incident table td span {
    margin: 0% 50% 0px 5px;
  }

  #incident table #footrow {
    text-align: left;
  }
}

@media all and (max-width: 600px) {
  .showimgs,
  #uploading {
    width: 40%;
  }
}

@media all and (max-width: 750px) {
  form label {
    display: none;
  }

  .inputfield {
    width: 100%;
  }

  #main_content .doublefield input {
    width: 96%;
  }

  #incident {
    overflow-x: scroll;
    width: 100%;
  }

  .menu {
    position: absolute;
    left: 4%;
    top: 1%;
    margin: 15px;
    display: block;
  }

  #main {
    display: none;
  }

  #wrapper {
    padding: 1%;
    width: 98%;
    margin: 90px 0px 10px 0px;
  }

  .usertype {
    float: none;
    padding: 0px;
    margin: 0px;
  }

  #navigation #logo img {
    float: none;
  }

  #navigation {
    text-align: center;
  }

  #navigation ul li {
    padding: 5px 0px;
  }

  #welcome_nav {
    display: none;
  }

  footer {
    font-size: 20px;
  }
}
