#wrapper {
margin: 0%;
padding: 0%;
height: 100%;
width: 100%;
background-color: #fff;
}

#body {
    text-align: center;
    margin: auto auto;
}

.infor ul li, footer #second ul li {
    list-style: none;
    display: inline;
}
.infor ul li a, footer #second ul li a {
    text-decoration: none;
}
#rightlist {
    float: right;
}
footer{
    background-color: #f2f3f4;
}
footer #first {
    border-bottom: 1px;
    border-color: black;
}
